<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <title>Corsi</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    </header>
    <main>
        <div class="m-3">
            <h1>Corsi Disponibili</h1>
            <a th:href="@{/corsi/create}" class="btn btn-primary mt-3 mb-3" sec:authorize="hasAuthority('ADMIN')">Crea
                un nuovo corso</a>
            <form th:action="@{/corsi}" method="get" class="mb-3">
                <input type="text" name="name" placeholder="Cerca Corso" class="form-control" style="width: 500px;">
                <button type="submit" class="btn btn-primary mt-2">Cerca</button>
            </form>
        </div>
        <section class="row m-3">
            <div th:if="${corsi.size() > 0}" class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome del Corso</th>
                            <th>Descrizione</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="corso : ${corsi}" th:object="${corso}">
                            <td>
                                <h5>[[*{name}]]</h5>
                            </td>
                            <td>
                                <p>[[*{description}]]</p>
                            </td>
                            <td>
                                [[*{price}]] $
                            </td>
                            <td><a th:href="@{'/corsi/' + *{id}}" class="btn btn-primary btn-sm">Dettagli</a></td>
                            <td><a th:href="@{'/corsi/edit/' + *{id}}" class="btn btn-warning btn-sm"
                                    sec:authorize="hasAuthority('ADMIN')">Modifica</a></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#deleteModal' + *{id}" sec:authorize="hasAuthority('ADMIN')">
                                    Elimina
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p th:text="'Nessun corso disponibile...'" th:unless="${corsi.size() > 0}"></p>
        </section>

        <div th:each="corso : ${corsi}" th:object="${corso}">
            <div class="modal fade" th:id="'deleteModal' + *{id}" tabindex="-1"
                th:aria-labelledby="'deleteModalLabel' + *{id}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="'deleteModalLabel' + *{id}">
                                Elimina Corso: [[*{name}]]
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Sei sicuro di voler eliminare il corso "<strong>[[*{name}]]</strong>"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                            <form th:action="@{'/corsi/delete/' + *{id}}" method="post" class="d-inline-block">
                                <button type="submit" class="btn btn-danger">Elimina Definitivamente</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>
</body>

</html>