<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <title>Studenti Iscritti</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    </header>
    <main>
        <div class="m-3">
            <h1>Studenti Iscritti</h1>
            <a th:href="@{/students/create}" class="btn btn-primary mt-3 mb-3">Iscrivi Studente</a>
            <form th:action="@{/students}" method="get" class="mb-3">
                <input type="text" name="name" placeholder="Nome" class="form-control mb-3" style="width: 500px;">
                <input type="text" name="surname" placeholder="Cognome" class="form-control mb-3" style="width: 500px;">
                <button type="submit" class="btn btn-primary mt-2">Cerca</button>
            </form>
        </div>
        <section class="row m-3">
            <div th:if="${students.size() > 0}" class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Corsi Frequentati</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.surname}"></td>
                            <td th:text="${student.corsi.size()}"></td>
                            <td>
                                <a th:href="@{/students/edit/{id}(id=${student.id})}"
                                    class="btn btn-primary">Modifica</a>
                            </td>
                            <td>
                                <a th:href="@{/students/{id}(id=${student.id})}" class="btn btn-primary">Dettagli
                                    Studente</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#deleteStudentModal' + ${student.id}">
                                    Elimina
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${students.size() > 0}">
                <p th:text="'Stamm nguajat'"></p>
            </div>
        </section>

        <div th:each="student : ${students}">
            <div class="modal fade" th:id="'deleteStudentModal' + ${student.id}" tabindex="-1"
                th:aria-labelledby="'deleteStudentModalLabel' + ${student.id}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="'deleteStudentModalLabel' + ${student.id}">
                                Elimina Studente
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Sei sicuro di voler eliminare lo studente "<strong>[[${student.name}]]
                                [[${student.surname}]]</strong>"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                            <form th:action="@{/students/delete/{id}(id=${student.id})}" method="post"
                                class="d-inline-block">
                                <button type="submit" class="btn btn-danger">Elimina Definitivamente</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>
</body>

</html>